kubemq-workshop-NodeJS/node_modules/@protobufjs/float/README.md
kubemq-workshop-NodeJS/node_modules/
kubemq-workshop-csharp/kubemq-workshop-csharp/obj/
kubemq-workshop-csharp/kubemq-workshop-csharp/bin/
workshop-rate-generator/rate_generate/bin/
workshop-rate-generator/rate_generate/obj/
workshop-rate-generator/.vs/
kubemq-workshop-csharp/.vs/
